#!/bin/bash

mvn_bin="{{mvn_home}}/bin/mvn {% if parallel_compile %}-T 1C {% endif%} "
echo $mvn_bin
echo "path:`pwd`"

$mvn_bin clean {% if deploy_tis_repository %} deploy -Ptis-repo {% else %} install {% endif%} -Dmaven.test.skip=true  -Dappname=$1 -U $2


