project.name=TIS

runtime={{runtime}}

tis.online.repository={{tis_online_repository}}

tis.datasource.url=10.1.5.68
tis.datasource.username=root
tis.datasource.password=root
tis.datasource.dbname=tis_console2

ocClient.baseUrl=https://cloudapps.qlangtech.net:8443
ocClient.userName=baisui
ocClient.password=123456

assemble.host={{groups['assemble'][0]}}
tis.host={{groups['tis-console'][0]}}
jobtracker.host={{groups['buildtask-overseer'][0]}}
