project.name=TIS

runtime={{runtime}}

tis.online.repository={{tis_online_repository}}

tis.datasource.url={{tisconsole_db_url}}
tis.datasource.username={{tisconsole_db_username}}
tis.datasource.password={{tisconsole_db_password}}
tis.datasource.dbname={{tisconsole_db_dbname}}

{% if ocClient_enable is defined %}
ocClient.enable={{ocClient_enable}}
ocClient.baseUrl={{ocClient_baseUrl}}
ocClient.userName={{ocClient_userName}}
ocClient.password={{ocClient_password}}
{% endif %}

{% if yarn_nodemanager_resource_memorymb is defined %}
max.yarn.cpu.cores={{max_yarn_cpu_cores}}
max.yarn.heap.memory={{yarn_nodemanager_resource_memorymb*0.75}}
{% endif %}

assemble.host={{groups['assemble'][0]}}
tis.host={{groups['tis-console'][0]}}
yarn.resource.manager.host={{groups['hadoop-yarn-resource-manager'][0]}}
