<?xml version="1.0" encoding="UTF-8"?>
<?xml-stylesheet type="text/xsl" href="configuration.xsl"?>

<configuration>

  <property>
    <name>hadoop.tmp.dir</name>
    <value>/home/{{ hadoop_user }}/tmp</value>
    <description>A base for other temporary directories.</description>
  </property>

 
</configuration>