#!/bin/bash

mvn_bin="{{mvn_home}}/bin/mvn"
echo $mvn_bin
echo "path:`pwd`"

#flink 打包分为两部分，
#第一部分由flink工程中执行`./deploy.sh` 脚本将flink核心jar包传送到TIS的maven仓库中
#第二部分是此处执行由flink-dist依赖的flink 需要的插件

#,flink-table/flink-table-planner\

$mvn_bin clean  {% if deploy_tis_repository %} deploy -Ptis-repo {% else %} install {% endif%}  -DskipTests=true -Dfast -Dscala-2.12 -Pdocs-and-source -Pjava11-target -Dcheckstyle.skip \
-pl flink-dist,flink-kubernetes\
,flink-dist-scala\
,flink-table/flink-table-api-java-uber\
,flink-table/flink-table-runtime\
,flink-libraries/flink-cep\
,flink-connectors/flink-connector-files\
,flink-formats/flink-csv\
,flink-formats/flink-json\
,flink-table/flink-table-planner-loader\
,flink-table/flink-table-planner-loader-bundle\
,flink-libraries/flink-cep-scala\
,flink-table/flink-sql-client\
,flink-table/flink-sql-gateway\
,flink-libraries/flink-state-processing-api\
,flink-filesystems/flink-s3-fs-base\
,flink-filesystems/flink-s3-fs-hadoop\
,flink-filesystems/flink-fs-hadoop-shaded\
,flink-filesystems/flink-s3-fs-presto\
,flink-filesystems/flink-oss-fs-hadoop\
,flink-filesystems/flink-azure-fs-hadoop\
,flink-filesystems/flink-gs-fs-hadoop\
,flink-queryable-state/flink-queryable-state-runtime\
,flink-metrics/flink-metrics-jmx\
,flink-metrics/flink-metrics-graphite\
,flink-metrics/flink-metrics-influxdb\
,flink-metrics/flink-metrics-prometheus\
,flink-metrics/flink-metrics-statsd\
,flink-metrics/flink-metrics-datadog\
,flink-metrics/flink-metrics-slf4j\
,flink-external-resources/flink-external-resource-gpu


#,flink-kubernetes\
#,flink-table/flink-table-planner\
#,flink-table/flink-table-runtime\
#,flink-test-utils-parent/flink-test-utils\
#,flink-test-utils-parent/flink-connector-test-utils\
#,flink-core\
#,flink-streaming-java\
#,flink-table/flink-table-common\
#,flink-tests\
#,flink-runtime\
#,flink-streaming-scala\
#,flink-clients\
#,flink-table/flink-table-api-java-bridge\
# -am

#,flink-connectors/flink-connector-jdbc\
#,flink-connectors/flink-connector-kafka\
#,flink-connectors/flink-connector-rabbitmq\
#,flink-connectors/flink-connector-elasticsearch7\

