<?xml version="1.0" encoding="UTF-8"?>
<settings xmlns="http://maven.apache.org/settings/1.0.0"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">

	<localRepository>{{mvn_local_repo}}</localRepository>

	<mirrors>
		<mirror>
			<id>nexus-aliyun</id>
			<name>Nexus aliyun</name>
			<url>https://repo.rdc.aliyun.com/repository/49893-release-5KqNRF/
			</url>
			<mirrorOf>central</mirrorOf>
		</mirror>
	</mirrors>

	<profiles>
		<profile>
			<id>rdc-private-repo</id>
			<repositories>
				<repository>
					<id>rdc-releases</id>
					<url>https://repo.rdc.aliyun.com/repository/49893-release-5KqNRF/
					</url>
				</repository>
				<repository>
					<id>rdc-snapshots</id>
					<url>https://repo.rdc.aliyun.com/repository/49893-snapshot-JKUXiO/
					</url>
				</repository>
			</repositories>
		</profile>
	</profiles>

	<activeProfiles>
		<activeProfile>rdc-private-repo</activeProfile>
	</activeProfiles>

</settings>