<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <property>
        <name>jobtracker.service.version</name>
        <value>1.0.0</value>
        <description>jobtracker rpc service version</description>
    </property>
    <property>
        <name>tasktracker.service.version</name>
        <value>1.0.0</value>
        <description>tasktracker rpc service version</description>
    </property>
    <property>
        <name>tasktracker.rpcport</name>
        <value>9848</value>
        <description>task tracker rpc port</description>
    </property>
    <property>
        <name>jobtracker.rpcserver</name>
         <value>{{groups['buildtask-overseer'][0]}}:26264</value>
        <description>jobtracker rpc server</description>
    </property>
    <property>
        <name>tasktracker.invoke.jobtracker.service.timeout</name>
        <value>2147483647</value>
        <description>jobtracker rpc service timeout, equals to Integer.MAX_VALUE</description>
    </property>

    <property>
        <name>jobtracker.transserver</name>
        <value>{{groups['buildtask-overseer'][0]}}:8849</value>
        <description>jobtracker rpc server address</description>
    </property>
    <property>
        <name>tasktracker.httpport</name>
        <value>9999</value>
        <description>task tracker rpc server address</description>
    </property>
    <property>
        <name>tasktracker.temppath</name>
        <value>/home/admin/terminator_builder/temp</value>
        <description>jar save path</description>
    </property>
    <property>
        <name>tasktracker.sharelib</name>
        <value>/home/admin/terminator_builder/sharelib</value>
        <description>share lib path</description>
    </property>
    <property>
        <name>task.taskjavaopts</name>
       <value>-server -Xms{{task_worker_memory}} -Xmx{{task_worker_memory}} -XX:SurvivorRatio=6 -XX:+UseLargePages -XX:LargePageSizeInBytes=256m -Xrunjdwp:transport=dt_socket,address=9992,suspend=n,server=y -XX:PermSize=56m -XX:MaxPermSize=256m -XX:+DoEscapeAnalysis -XX:ErrorFile=/home/admin/terminator_builder/logs/error/hs_err.log -XX:+PrintGCDetails -XX:+PrintGCTimeStamps -XX:ParallelGCThreads=13 -XX:+UseParallelGC -XX:+UseParallelOldGC -XX:MaxTenuringThreshold=0</value> 
       <description>max concurren task in this tasktracker</description>
    </property>
    <property>
        <name>tasktracker.maxjvms</name>
        <value>1</value>
        <description>max concurren task in this tasktracker</description>
    </property>
</configuration>
