<?xml version="1.0"?>
<configuration>

  <property>
    <name>yarn.nodemanager.aux-services</name>
    <value>mapreduce_shuffle</value>
  </property>
  <property>
    <name>yarn.resourcemanager.scheduler.address</name>
    <value>{{groups['hadoop-yarn-resource-manager'][0]}}:8030</value>
  </property>
  <property>
    <name>yarn.resourcemanager.address</name>
    <value>{{groups['hadoop-yarn-resource-manager'][0]}}:8032</value>
  </property>
  <property>
    <name>yarn.resourcemanager.webapp.address</name>
    <value>{{groups['hadoop-yarn-resource-manager'][0]}}:8088</value>
  </property>
  <property>
    <name>yarn.resourcemanager.resource-tracker.address</name>
    <value>{{groups['hadoop-yarn-resource-manager'][0]}}:8031</value>
  </property>
  <property>
    <name>yarn.resourcemanager.admin.address</name>
    <value>{{groups['hadoop-yarn-resource-manager'][0]}}:8033</value>
  </property>
  
  <!--http://hadoop.apache.org/docs/r2.4.1/hadoop-project-dist/hadoop-common/ClusterSetup.html-->
  <property>
    <name>yarn.scheduler.minimum-allocation-mb</name>
    <value>4096</value>
  </property>
  
  <!--12G-->
  <property>
    <name>yarn.scheduler.maximum-allocation-mb</name>
    <value>{{yarn_nodemanager_resource_memorymb*0.8}}</value>
  </property>
  
  <!--14G-->
  <property>
    <name>yarn.nodemanager.resource.memory-mb</name>
    <value>{{yarn_nodemanager_resource_memorymb}}</value>
  </property>
  
  <property>
    <name>yarn.nodemanager.log-dirs</name>
    <value>{{hadoop_log_dirs}}</value>
  </property>
  
  <property>
    <name>yarn.nodemanager.vmem-pmem-ratio</name>
    <value>1.1</value>
  </property>
  
</configuration>