# 基础镜像（支持 amd64 & arm64），based on Ubuntu 18.04.4 LTS
# FROM adoptopenjdk:11-jdk-hotspot
FROM eclipse-temurin:11-jre-jammy
# 设置时区
# docker 容器时间设置 https://developer.aliyun.com/article/1159657
ENV TZ=Asia/Shanghai
# used by org.apache.flink.kubernetes.kubeclient.Fabric8FlinkKubeClient
ENV TIS_K8S_ENV=true

ADD ./{{tis_uber_tar_file_name}} /opt/app/
ADD ./tis-boot/bin /opt/app/tis-uber/bin


RUN mkdir -p /opt/logs/tis/gc && mv /opt/app/tis-uber/data /opt/ && chmod +x /opt/app/tis-uber/bin/tis

WORKDIR /opt/app/tis-uber

# 暴露端口（HTTP + AKKA）
EXPOSE 8080
# 启动应用
ENTRYPOINT ["/opt/app/tis-uber/bin/tis"]
