#!/bin/bash

java -classpath ./lib/*:./update-center2.jar -Dplugin_dir_root={{tis_release_dir}}/{{tis_plugin_release_dir_name}} -Dtis.plugin.release.version={{tis_pkg_version}}  io.jenkins.update_center.Main --www-dir=./dist
