{% if need_install_tispark %}
spark.tispark.pd.addresses {{ tispark_pd_addresses }}:2379
spark.sql.extensions org.apache.spark.sql.TiExtensions
{% endif %}

{% if need_install_spark_shuffle %}
spark.jars /opt/app/java/default/lib/{{ spark_thriftserver_jar_file_name }}
spark.shuffle.service.enabled    true
spark.shuffle.service.port       7337
spark.dynamicAllocation.enabled  true
spark.dynamicAllocation.initialExecutors   0
spark.dynamicAllocation.minExecutors   1
spark.dynamicAllocation.maxExecutors   {{ groups['hadoop-yarn-node-manager'] | length }}
spark.executor.memory   {{ (yarn_nodemanager_resource_memorymb*0.7) | int }}m
spark.sql.adaptive.enabled   true
spark.sql.adaptive.shuffle.targetPostShuffleInputSize  128000000
{% endif %}