export JAVA_HOME=/opt/app/java/default
export SCALA_HOME=/opt/app/scala
export HADOOP_HOME=/opt/app/hadoop
export HADOOP_CONF_DIR=/opt/app/hadoop/etc/hadoop
export SPARK_MASTER_HOST={{ groups['hadoop-yarn-resource-manager'][0] }}
export SPARK_WORKER_MEMORY=8g
export SPARK_WORKER_CORES=2
export SPARK_WORKER_INSTANCES=1